xml/venta_vehiculos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/ventaVehiculos"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/ventaVehiculos"
    name="VentaVehiculosService">

  <!-- ==== TYPES ==== -->
  <types>
    <xsd:schema targetNamespace="http://example.com/ventaVehiculos"
                elementFormDefault="qualified">

      <!-- Cliente -->
      <xsd:complexType name="Cliente">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Nombre" type="xsd:string"/>
          <xsd:element name="Documento" type="xsd:string"/>
          <xsd:element name="Email" type="xsd:string"/>
          <xsd:element name="Telefono" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Vehiculo -->
      <xsd:complexType name="Vehiculo">
        <xsd:sequence>
          <xsd:element name="Vin" type="xsd:string"/>
          <xsd:element name="Marca" type="xsd:string"/>
          <xsd:element name="Modelo" type="xsd:string"/>
          <xsd:element name="Ano" type="xsd:int"/>
          <xsd:element name="Precio" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Item de Compra -->
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element name="IdItem" type="xsd:int"/>
          <xsd:element name="Descripcion" type="xsd:string"/>
          <xsd:element name="Cantidad" type="xsd:int"/>
          <xsd:element name="Valor" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Lista de Compras -->
      <xsd:complexType name="Compras">
        <xsd:sequence>
          <xsd:element name="Item" type="tns:Item" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Venta -->
      <xsd:complexType name="Venta">
        <xsd:sequence>
          <xsd:element name="Cliente" type="tns:Cliente"/>
          <xsd:element name="Vehiculo" type="tns:Vehiculo"/>
          <xsd:element name="Compras" type="tns:Compras"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Request y Response -->
      <xsd:element name="RegistrarVentaRequest" type="tns:Venta"/>
      <xsd:element name="RegistrarVentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Codigo" type="xsd:int"/>
            <xsd:element name="Mensaje" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- ==== MESSAGES ==== -->
  <message name="RegistrarVentaInput">
    <part name="parameters" element="tns:RegistrarVentaRequest"/>
  </message>

  <message name="RegistrarVentaOutput">
    <part name="parameters" element="tns:RegistrarVentaResponse"/>
  </message>

  <!-- ==== PORT TYPE ==== -->
  <portType name="VentaVehiculosPortType">
    <operation name="RegistrarVenta">
      <input message="tns:RegistrarVentaInput"/>
      <output message="tns:RegistrarVentaOutput"/>
    </operation>
  </portType>

  <!-- ==== BINDING ==== -->
  <binding name="VentaVehiculosBinding" type="tns:VentaVehiculosPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RegistrarVenta">
      <soap:operation soapAction="http://example.com/ventaVehiculos/RegistrarVenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- ==== SERVICE ==== -->
  <service name="VentaVehiculosService">
    <port name="VentaVehiculosPort" binding="tns:VentaVehiculosBinding">
      <soap:address location="http://localhost:5000/ventaVehiculos"/>
    </port>
  </service>

</definitions>