xml/ventaVehiculos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/ventaVehiculos"
    xmlns:tns="http://example.com/ventaVehiculos"
    elementFormDefault="qualified">

    <!-- Elemento raíz: Request -->
    <xsd:element name="RegistrarVentaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Cliente" type="tns:Cliente"/>
                <xsd:element name="Vehiculo" type="tns:Vehiculo"/>
                <xsd:element name="Compra" type="tns:Compra"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Elemento raíz: Response -->
    <xsd:element name="RegistrarVentaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Resultado" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Tipo complejo: Cliente -->
    <xsd:complexType name="Cliente">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:int"/>
            <xsd:element name="Nombre" type="xsd:string"/>
            <xsd:element name="Email" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo complejo: Vehiculo -->
    <xsd:complexType name="Vehiculo">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:int"/>
            <xsd:element name="Marca" type="xsd:string"/>
            <xsd:element name="Modelo" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo complejo: Compra -->
    <xsd:complexType name="Compra">
        <xsd:sequence>
            <xsd:element name="Fecha" type="xsd:date"/>
            <xsd:element name="Monto" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
