xml/ventaVehiculos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://example.com/ventaVehiculos" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/ventaVehiculos" 
    name="VentaVehiculosService">

  <!-- ======================================================= -->
  <!-- =============== TYPES ================================= -->
  <!-- ======================================================= -->
  <types>
    <xsd:schema 
        targetNamespace="http://example.com/ventaVehiculos"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://example.com/ventaVehiculos"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

      <!-- ================== ELEMENTOS GLOBALES ================== -->
      <xsd:element name="RegistrarVentaRequest" type="tns:RegistrarVentaRequestType"/>
      <xsd:element name="RegistrarVentaResponse" type="tns:RegistrarVentaResponseType"/>

      <!-- ================== TIPOS DE REQUEST/RESPONSE ============ -->
      <xsd:complexType name="RegistrarVentaRequestType">
        <xsd:sequence>
          <xsd:element name="Cliente" type="tns:ClienteType"/>
          <xsd:element name="Vehiculo" type="tns:VehiculoType"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="RegistrarVentaResponseType">
        <xsd:sequence>
          <xsd:element name="Codigo" type="xsd:string"/>
          <xsd:element name="Mensaje" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- ================== TIPOS COMPUESTOS ================== -->
      <xsd:complexType name="ClienteType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Nombre" type="xsd:string"/>
          <xsd:element name="Documento" type="xsd:string"/>
          <xsd:element name="Email" type="xsd:string"/>
          <xsd:element name="Telefono" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="VehiculoType">
        <xsd:sequence>
          <xsd:element name="Placa" type="xsd:string"/>
          <xsd:element name="Marca" type="xsd:string"/>
          <xsd:element name="Modelo" type="xsd:string"/>
          <xsd:element name="Precio" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <!-- ======================================================= -->
  <!-- =============== MENSAJES ============================== -->
  <!-- ======================================================= -->
  <message name="RegistrarVentaRequestMessage">
    <part name="parameters" element="tns:RegistrarVentaRequest"/>
  </message>

  <message name="RegistrarVentaResponseMessage">
    <part name="parameters" element="tns:RegistrarVentaResponse"/>
  </message>

  <!-- ======================================================= -->
  <!-- =============== PORTTYPE ============================== -->
  <!-- ======================================================= -->
  <portType name="VentaVehiculosPortType">
    <operation name="RegistrarVenta">
      <input message="tns:RegistrarVentaRequestMessage"/>
      <output message="tns:RegistrarVentaResponseMessage"/>
    </operation>
  </portType>

  <!-- ======================================================= -->
  <!-- =============== BINDING =============================== -->
  <!-- ======================================================= -->
  <binding name="VentaVehiculosBinding" type="tns:VentaVehiculosPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RegistrarVenta">
      <soap:operation soapAction="http://example.com/ventaVehiculos/RegistrarVenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- ======================================================= -->
  <!-- =============== SERVICE =============================== -->
  <!-- ======================================================= -->
  <service name="VentaVehiculosService">
    <port name="VentaVehiculosPort" binding="tns:VentaVehiculosBinding">
      <soap:address location="http://localhost:5000/ventaVehiculos"/>
    </port>
  </service>

</definitions>
